CRON_SECRET=""
DATABASE_URL="mysql://r2tk:r2tk_dev_password@localhost:3307/r2tk_db"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
FLAGS_COMING_SOON="false"
FLAGS_SECRET=""
IMAGEKIT_CLIENT_ID=""
IMAGEKIT_CLIENT_SECRET=""
LOADOUT_AUTH_TOKEN=""
LOADOUT_PARSER_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_IMAGE_URL=""
PATREON_CREATOR_ACCESS_TOKEN=""
PATREON_CREATOR_REFRESH_TOKEN=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
SHOW_NOTIFICATIONS="false"
WEBHOOK_AUDIT_LOG=""
WEBHOOK_BUG_REPORT=""
WEBHOOK_COMMUNITY_BUILDS=""
WEBHOOK_CRON_LOGS=""
WEBHOOK_DISABLED="true"
WEBHOOK_MILESTONES=""
WEBHOOK_MOD_QUEUE=""
WEBHOOK_NEW_BUILD_FEED=""
WEBHOOK_REPORT_DATA=""
WEBHOOK_WIKI_SCRAPER_FEED=""
