@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #11001c;
}

/** Fixes the misalignment when exporting builds to images */
body > div:last-child > span + img {
  display: inline !important;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tippy-box[data-theme~='r2tk'] {
  background-color: rgb(22 78 99);
  color: #fff;
  border-width: 1px;
  border-color: rgb(34 211 238);
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}

.tippy-box[data-theme~='r2tk'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(22 78 99);
}