@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
TODO:
Current palette is effectively a translation of a Material theme
The primary/secondary/etc. values are named generically with the intent to be swappable, perhaps even with user preferences someday
There is still a need for named colors with light/dark shading variants as not every usage of these colors is meant to be the "primary accent"
i.e. you need a cancel button to be red no matter what, various elemental terms, etc. 

https://material-foundation.github.io/material-theme-builder/
Source values and transforms used:
06B6D4
8B5CF6
22C55E
EAB308
Neutrals were left as-is
Export as "Web (CSS)"
Only the main light and dark files are used here
Names were truncated and "error" was renamed to "highlight"
*/

@layer base {
  :root, .light {
    /* Primary */
    --color-primary: 0 104 122;
    --color-on-primary: 255 255 255;
    --color-primary-container: 42 194 224;
    --color-on-primary-container: 0 43 52;
    --color-primary-inverse: 76 215 246;
    /* Secondary */
    --color-secondary: 56 0 124;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 91 48 165;
    --color-on-secondary-container: 239 227 255;
    --color-secondary-inverse: 211 187 255;
    /* Tertiary */
    --color-tertiary: 0 110 47;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 53 209 104;
    --color-on-tertiary-container: 0 50 18;
    --color-tertiary-inverse: 81 231 123;
    /* Highlight */
    --color-highlight: 120 90 0;
    --color-on-highlight: 255 255 255;
    --color-highlight-container: 243 187 25;
    --color-on-highlight-container: 67 49 0;
    --color-highlight-inverse: 255 219 139;
    /* Background */
    --color-background: 245 250 252;
    --color-on-background: 23 29 30;
    --color-background-variant: 216 229 233;
    --color-on-background-variant: 61 73 76;
    --color-background-container: 233 239 241;
    --color-background-blend: 233 239 241;
    --color-outline: 109 121 125;
    --color-outline-variant: 188 201 205;
  }

  .dark {
    /* Primary */
    --color-primary: 6 182 212;
    --color-on-primary: 0 54 64;
    --color-primary-container: 0 173 202;
    --color-on-primary-container: 0 20 25;
    --color-primary-inverse: 103 232 249;
    /* Secondary */
    --color-secondary: 139 92 246;
    --color-on-secondary: 222 227 230;
    --color-secondary-container: 76 29 149;
    --color-on-secondary-container: 139 92 246;
    --color-secondary-inverse: 56 0 124;
    /* Tertiary */
    --color-tertiary: 81 231 123;
    --color-on-tertiary: 0 57 21;
    --color-tertiary-container: 11 188 86;
    --color-on-tertiary-container: 0 30 8;
    --color-tertiary-inverse: 0 110 47;
    /* Highlight */
    --color-highlight: 234 179 8;
    --color-on-highlight: 63 46 0;
    --color-highlight-container: 227 173 0;
    --color-on-highlight-container: 54 39 0;
    --color-highlight-inverse: 120 90 0;
    /* Background */
    --color-background: 17 0 28;
    --color-on-background: 222 227 230;
    --color-background-variant: 61 73 76;
    --color-on-background-variant: 156 163 175;
    --color-background-container: 14 20 21;
    --color-background-blend: 17 24 39;
    --color-outline: 134 147 151;
    --color-outline-variant: 61 73 76;
  }
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
}

/** Fixes the misalignment when exporting builds to images */
body > div:last-child > span + img {
  display: inline !important;
}

.tippy-box[data-theme~='r2tk'] {
  background-color: rgb(22 78 99);
  color: #fff;
  border-width: 1px;
  border-color: rgb(34 211 238);
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}

.tippy-box[data-theme~='r2tk'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(22 78 99);
}
.tippy-box[data-theme~='r2tk'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(22 78 99);
}